.contH {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Noto Sans Georgian", sans-serif;
  margin-bottom: 2%;
  width: 100%;
  margin: auto;
}
.contH > .divHeaderCont {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.7rem;
}
.divHeaderCont1 {
  width: 20%;
  height: 100%;
}
.divHeaderCont2 {
  width: 60%;
  text-align: center;
}
.imgDiv {
  width: 10%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .contH {
    height: 100px;
    width: 100%;
  }
  .contH > .divHeaderCont {
    width: 100%;
    font-size: 0.7rem;
    padding-top: 1%;
  }
  .divHeaderCont1 {
    width: 30%;
    height: 100%;
  }
  .divHeaderCont2 {
    width: 40%;
    text-align: left;
  }
  .imgDiv {
    width: 30%;
  }
}
