@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Ninomtavruli";
  src: local("Ninomtavruli"),
    url("./assets/fonts/bpg_nino_mtavruli_bold.ttf") format("truetype");
  font-weight: bold;
}


::selection {
  background: #c6deef;
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #B35751; /* color of the scroll thumb */
}