.chartGraphs {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}
.chartGraphs > .BarChartAll {
  width: 40%;
}
.chartGraphs > .BarChartSxvaoba {
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .chartGraphs {
    height: 1000px;
    display: flex;
    flex-direction: column;
  }
  .chartGraphs > .BarChartAll {
    width: 100%;
  }
  .chartGraphs > .BarChartSxvaoba {
    width: 100%;
  }
}
