.swiperCharts {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 0.1%;
}
.swiper-wrapper {
  padding: 0;
  margin: 0;
}
.rightSideChartsp {
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.swiper-button-next,
.swiper-button-prev {
  color: #173795;
}
@media only screen and (max-width: 900px) {
  .swiperCharts {
  border-top:2px solid rgb(107, 126, 181);

    margin-top: 6%;
    width: 100%;
    margin-right: 0;
  }
}
